.FbButton {
	border: 1px solid #3b5998;
	border-radius: 3px;
	font-size: 12px;
	height: 25px;
	background-color: #3b5998;
	cursor: pointer;
	padding: 0 10px;
	color: #fff;
	&:hover {
		opacity: 0.9; 
	}


}